schema/xml.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.w3.org/XML/1998/namespace" xmlns:ns1="http://www.tei-c.org/ns/1.0">
  <xs:import namespace="http://www.tei-c.org/ns/1.0" schemaLocation="cantus_schema.xsd"/>
  <xs:attribute name="id" type="xs:NCName"/>
  <xs:attribute name="base" type="xs:anyURI"/>
  <xs:attribute name="lang" type="xs:NCName"/>
  <xs:attribute name="space" type="xs:NCName"/>
</xs:schema>
